<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav class="app-sidenav" [opened]="!isScreenSmall()" [mode]="isScreenSmall() ? 'over' : 'side'">

    <mat-list>
      <mat-list-item fxLayout = "column" routerLink="/manage" routerLinkActive="active">
        <div class="list-wrapper" fxLayout="column">
          <mat-icon fxFlexAlign = "center">home</mat-icon>
          <span>manage</span>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/pagenotfound" routerLinkActive="active">
        <div class="list-wrapper" fxLayout="column">
          <mat-icon fxFlexAlign = "center">
            <i class="material-icons">featured_play_list</i>
          </mat-icon>
          <span>reports</span>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/pagenotfound" routerLinkActive="active">
        <div class="list-wrapper" fxLayout="column" >
          <mat-icon fxFlexAlign = "center">highlight</mat-icon>
          <span>how to</span>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/pagenotfound" routerLinkActive="active">
        <div class="list-wrapper" fxLayout="column" >
          <mat-icon fxFlexAlign = "center">email outline</mat-icon>
          <span>contact</span>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>



</mat-sidenav-container>